.contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 0;
}
#contacts-div-1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    margin: 0 0 16px 0;
    width: 600px;
    -webkit-tap-highlight-color: transparent;
}
#contacts-div-1 > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
#contacts-div-1 > div > a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
}
#contacts-div-1 > div > a > img {
    height: 64px;
    width: 64px;
}
#contacts-div-1 > div > a:last-child > img {
    height: 80px;
    width: 80px;
}
#contacts-div-1 > div > a:hover {
    background-color: var(--secondary-color);
}
#contacts-div-1 > a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px;
    text-decoration: none;
}
#contacts-div-1 > a:hover {
    text-decoration: underline;
}
#contacts-div-1 > a > p {
    margin: 0;
}
#contacts-div-1 > a > img {
    height: 24px;
    width: 24px;
}
@media (max-width: 600px) {
    #contacts-div-1 {
        width: calc(100% - 32px);
    }
    #contacts-div-1 > a {
        width: 100%;
    }
}