.home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.home > div {
    width: 100%;
}
#home-div-1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 720px;
    padding: 0 16px;
}
#home-div-2 {
    background-color: var(--secondary-color);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    max-width: 720px;
    padding: 16px;
}
#home-div-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    max-width: 720px;
    padding: 16px 0;
}
#home-div-1 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}
#home-div-2 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#home-div-3 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#home-div-1 > div > *, #home-div-2 > div > h2, #home-div-3 > div > * {
    margin: 0;
    width: 100%;
}
#home-div-1 > div > h1, #home-div-1 > div > h2, #home-div-1 > div > p, #home-div-2 > div > h2, #home-div-2 > div > div > h2, #home-div-2 > div > div > p {
    -webkit-hyphens: auto;
            hyphens: auto;
    margin: 0;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}
#home-div-1 > div > img {
    border-radius: 50%;
    width: 240px;
}
#home-div-1 > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}
#home-div-1 > div > div > a, #home-div-1 > div > div > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid var(--tertiary-color) 2px;
    border-radius: 8px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
}
#home-div-1 > div > div > a, #home-div-2 > div > div > a {
    background-color: var(--tertiary-color);
    border: solid var(--tertiary-color) 2px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
}
#home-div-1 > div > div > a:hover, #home-div-1 > div > div > div:hover, #home-div-2 > div > div > a:hover {
    background-color: var(--quaternary-color);
    border: solid var(--quaternary-color) 2px;
    color: white;
}
#home-div-2 > div > h2, #home-div-3 > div > h2 {
    padding: 16px;
    text-align: center;
}
#home-div-2 > div > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#home-div-2 > div > div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    padding: 0 16px;
}
#home-div-2 > div > div > img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 12px;
    width: 150px;
}
.activity {
    background-color: var(--secondary-color);
    border-radius: 16px;
    margin: 0 16px;
    padding: 16px;
}
.activity > h2 {
    background-color: var(--dark-secondary-color);
    border-radius: 12px;
}
.images-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 16px;
}
.images-container > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--dark-secondary-color);
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px;
    width: 100%;
}
.images-container > div > img {
    border-radius: 8px;
    width: 100%;
}
.images-container > div > p {
    margin: 16px 0 0 0;
    text-align: center;
    width: 100%;
}
@media (max-width: 752px) {
    .home > div {
        width: calc(100% - 32px);
    }
    .home > div:last-child {
        width: 100%;
    }
    #home-div-1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        gap: 0;
        padding: 16px 0;
    }
    #home-div-1 > div > img {
        max-width: 360px;
        width: calc(100% - 32px);
    }
    #home-div-1 > div {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    #home-div-1 > div > div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #home-div-2 > div > div > img {
        width: 100px;
    }
}