* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: var(--black);
    font-family: Righteous;
}
html {
    background-color: var(--primary-color);
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: var(--primary-color);
    margin: 0;
}
#navbar {
    background-color: var(--black);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tab-container {
    background-color: var(--primary-color);
    border-radius: 16px;
}
.tab-container > p {
    margin: 0;
    text-align: center;
}
.tab {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--black);
    border-radius: 16px;
    color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tab-container:first-child {
    border-radius: 16px 16px 0 0;
}
.tab-container:nth-child(2) {
    border-radius: 16px 16px 16px 0;
}
.tab-container:last-child {
    border-radius: 16px;
}
.selected {
    background-color: var(--primary-color);
    color: var(--black);
}
.unselected {
    background-color: var(--black);
    color: white;
}
#main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.content {
    background-color: var(--primary-color);
    display: none;
}
.footer {
    background-color: var(--black);
    width: 100%;
}
.footer > p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}
.separator {
    background-color: var(--dark-secondary-color);
    border-radius: 8px;
    height: 2px;
    width: 100%;
}
.spacer {
    background-color: var(--primary-color);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2px;
    padding: 8px 0;
    width: 100%;
}