@-webkit-keyframes title-scale {
    0% {
        background-color: var(--secondary-color);
        border-radius: 16px;
        margin: 0;
    }
    100% {
        background-color: var(--dark-secondary-color);
        border-radius: 12px;
        margin: 8px 8px 0 8px;
    }
}
@keyframes title-scale {
    0% {
        background-color: var(--secondary-color);
        border-radius: 16px;
        margin: 0;
    }
    100% {
        background-color: var(--dark-secondary-color);
        border-radius: 12px;
        margin: 8px 8px 0 8px;
    }
}
@-webkit-keyframes title-unscale {
    0% {
        background-color: var(--dark-secondary-color);
        border-radius: 12px;
        margin: 8px 8px 0 8px;
    }
    100% {
        background-color: var(--secondary-color);
        border-radius: 16px;
        margin: 0;
    }
}
@keyframes title-unscale {
    0% {
        background-color: var(--dark-secondary-color);
        border-radius: 12px;
        margin: 8px 8px 0 8px;
    }
    100% {
        background-color: var(--secondary-color);
        border-radius: 16px;
        margin: 0;
    }
}
.my-works {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 0;
}
#my-works-div-1 > div > h2 {
    background-color: var(--secondary-color);
    border-radius: 16px;
    margin: 0;
    padding: 16px;
    text-align: center;
    width: 720px;
}
.div-container {
    padding: 8px 0;
}
.link-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    margin: 16px 0 0 0;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
.link-list > a {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: larger;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    width: 720px;
}
.link-list > a:hover {
    -webkit-transform: scale(1.0075);
        -ms-transform: scale(1.0075);
            transform: scale(1.0075);
}
.link-list > a:first-child {
    border-radius: 16px 16px 8px 8px;
}
.link-list > a:last-child {
    border-radius: 8px 8px 16px 16px;
}
.link-list > a:only-child {
    border-radius: 16px;
}
.title-container {
    border-radius: 16px;
    width: 100%;
}
.title {
    margin: 0;
    padding: 16px;
}
.description, .description-header {
    font-size: medium;
    font-weight: initial;
    margin: 16px 0 0 0;
    padding: 0 16px;
}
.description {
    margin: 16px 0;
}
.image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    padding: 0 16px;
    scrollbar-width: none;
    width: 100%;
}
.image-container > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--dark-secondary-color);
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 16px 0 0 0;
    padding: 16px;
    width: auto;
}
.image-container > div > img {
    border-radius: 8px;
    width: 150px;
}
.visit-link {
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    color: white;
    font-size: initial;
    font-weight: initial;
    margin: 0 16px 16px 0;
    padding: 12px 16px;
    text-decoration: none;
}
.visit-link:hover {
    background-color: var(--quaternary-color);
}
@media (max-width: 752px) {
    #my-works-div-1 {
        padding: 0 16px;
        width: 100%;
    }
    #my-works-div-1 > div {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #my-works-div-1 > div > h2 {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
    }
    .link-list > a {
        width: 100%;
    }
}